<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/index.css" />
    <title>EO Team - Who</title>
  </head>
  <body>
    <% include partials/preloader.ejs %>
    <div id="body">
      <% include partials/nav.ejs %>
    </div>
    <script src="/style/jsAnimation.js"></script>
  </body>
</html>
